body {
    background-color: #DDD !important;
}

.line-info {
    float: left;
    width: 100%;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.col-info {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.t-title-header {
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.125);
    /*text-align: center;*/
}
.t-name-header {
    font-size: 14px;
    text-align: center;
}
.t-value-header {
    font-size: 24px;
    text-align: center;
    font-weight: bold;
}
.t-row {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.125);
}
.t-col {
    margin-top: 1rem;
}
small {
    font-size: 70% !important;
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0px !important;
    margin-left: 0px !important;
}