{% extends "layout.html" %}

{% block content %}

<script>
    var url_context = '{{url}}'
</script>

<div class="card-deck">
    <div class="card text-white bg-dark">
        <div class="card-header">
            <h5 class="my-0 font-weight-normal"><i class="fas fa-mobile"></i> Tracer 4210A
                <div class="float-right">
                    <i class="far fa-calendar-alt"></i>
                    <small id="rtc" ></small>
                </div>
            </h5>
        </div>

        <div class="card-footer">
            <h6 class="t-title-header"><i class="fas fa-moon pvicon"></i> Painel Fotovoltáico
                <div class="float-right">
                    <i class="fas fa-sun"></i> <small id="headerstartdate" class="badge badge-warning"></small>
                    <i class="fas fa-moon"></i> <small id="headerenddate" class="badge badge-warning"></small></div>
            </h6>
            <div class="row t-row">
                <div class="col-lg-3 col-md-3 col-sm-6 t-col">
                    <div class="t-name-header">Tensão</div>
                    <canvas style="width: 100%" height="50" id="canvas-volt"></canvas>
                    <div class="t-value-header">
                        <span id="volt-textfield">0.0</span> <small>V</small></div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 t-col">
                    <div class="t-name-header">Corrente</div>
                    <canvas style="width: 100%" height="50" id="canvas-current"></canvas>
                    <div class="t-value-header">
                        <span id="current-textfield">0.0</span> <small>A</small></div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 t-col">
                    <div class="t-name-header">Potência</div>
                    <canvas style="width: 100%" height="50" id="canvas-power"></canvas>
                    <div class="t-value-header">
                        <span id="power-textfield">0.0</span> <small>W</small></div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 t-col">
                    <div class="t-name-header">Potência Gerada</div>
                    <canvas style="width: 100%" height="50" id="canvas-powertotal"></canvas>
                    <div class="t-value-header">
                        <span id="powertotal-textfield">0.0</span> <small>Wh</small></div>
                </div>
            </div>

            <h6 class="t-title-header"><i class="fas fa-battery-full"></i> Bateria
                <div class="float-right">
                   <i class="fas fa-cog"></i> <small id="headerbatterysystem" class="badge badge-primary"></small>
                   <i class="fas fa-stethoscope"></i> <small id="headerbatterystatus" class="badge badge-primary"></small>
                   <i class="fas fa-plug"></i> <small id="headerbatterycharge" class="badge badge-info"></small>
                </div>
            </h6>
            <div class="row t-row">
                <div class="col-lg-3 col-md-3 col-sm-6 t-col">
                    <div class="t-name-header">Tensão</div>
                    <canvas style="width: 100%" height="50" id="canvas-batteryvolt"></canvas>
                    <div class="t-value-header">
                        <span id="batteryvolt-textfield">0.0</span> <small>V</small></div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 t-col">
                    <div class="t-name-header">Corrente</div>
                    <canvas style="width: 100%" height="50" id="canvas-batterycurrent"></canvas>
                    <div class="t-value-header">
                        <span id="batterycurrent-textfield">0.0</span> <small>A</small></div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 t-col">
                    <div class="t-name-header">Potência</div>
                    <canvas style="width: 100%" height="50" id="canvas-batterypower"></canvas>
                    <div class="t-value-header">
                        <span id="batterypower-textfield">0.0</span> <small>W</small></div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 t-col">
                    <div class="t-name-header">SOC</div>
                    <canvas style="width: 100%" height="50" id="canvas-batterysoc"></canvas>
                    <div class="t-value-header">
                        <span id="batterysoc-textfield">0</span> <small>%</small></div>
                </div>
            </div>
            <div class="line-info">
              <canvas id="myChart" width="800" height="400"></canvas>
            </div>
            <h6 class="t-title-header"><i class="fas fa-lightbulb"></i> Saída Load
                <div class="float-right">
                <i class="fas fa-sign-out-alt"></i> <small id="headerload" class="badge badge-primary"></small>
                </div>
            </h6>
            <div class="row t-row">
                <div class="col-lg-3 col-md-3 col-sm-6 t-col">
                    <div class="t-name-header">Tensão</div>
                    <canvas style="width: 100%" height="50" id="canvas-dischargingvolt"></canvas>
                    <div class="t-value-header">
                        <span id="dischargingvolt-textfield">0.0</span> <small>V</small></div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 t-col">
                    <div class="t-name-header">Corrente</div>
                    <canvas style="width: 100%" height="50" id="canvas-dischargingcurrent"></canvas>
                    <div class="t-value-header">
                        <span id="dischargingcurrent-textfield">0.0</span> <small>A</small></div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 t-col">
                    <div class="t-name-header">Potência</div>
                    <canvas style="width: 100%" height="50" id="canvas-dischargingpower"></canvas>
                    <div class="t-value-header">
                        <span id="dischargingpower-textfield">0.0</span> <small>W</small></div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 t-col">
                    <div class="t-name-header">Potência Consumida</div>
                    <canvas style="width: 100%" height="50" id="canvas-dischargingpowertotal"></canvas>
                    <div class="t-value-header">
                        <span id="dischargingpowertotal-textfield">0.0</span> <small>Wh</small></div>
                </div>
            </div>

            <h6 class="t-title-header"><i class="fas fa-thermometer-three-quarters"></i> Temperatura</h6>
            <div class="row t-row">
                <div class="col-lg-3 col-md-3 col-sm-6 t-col">
                    <div class="t-name-header">Temperatura</div>
                    <canvas style="width: 100%" height="50" id="canvas-temperature"></canvas>
                    <div class="t-value-header">
                        <span id="temperature-textfield">0</span> <small>º C</small></div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 t-col">
                    <div class="t-name-header">Remota</div>
                    <canvas style="width: 100%" height="50" id="canvas-remote"></canvas>
                    <div class="t-value-header">
                        <span id="remote-textfield">0</span> <small>º C</small></div>
                </div>
               <div class="col-lg-3 col-md-3 col-sm-6 t-col">
                    <div class="t-name-header">Equipamento</div>
                    <canvas style="width: 100%" height="50" id="canvas-inside"></canvas>
                    <div class="t-value-header">
                        <span id="inside-textfield">0</span> <small>º C</small></div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 t-col">
                    <div class="t-name-header">Componentes</div>
                    <canvas style="width: 100%" height="50" id="canvas-component"></canvas>
                    <div class="t-value-header">
                        <span id="component-textfield">0</span> <small>º C</small></div>
                </div>
            </div>

            <div class="card-deck">
                <div class="row mb-3">
                    <div class="col-lg-4 mb-4 col-md-12 col-info">
                        <div id="ctn_pv" class="card text-dark">
                            <div class="card-header">
                                <h6 class="my-0"><i class="fas fa-moon pvicon"></i> Painel</h6>
                            </div>
                            <div class="card-body">
                                <div class="line-info text-center"><h6>Potência</h6></div>
                                <div class="line-info">
                                    <h6 class="card-title">
                                        <small class="float-left">Média</small>
                                        <span class="float-right font-weight-bold">
                                            <strong id="pvpoweravg"></strong> <small>W</small></span>
                                    </h6>
                                </div>
                                <div class="line-info">
                                    <h6 class="card-title">
                                        <small class="float-left">Máxima</small>
                                        <span class="float-right font-weight-bold">
                                            <strong id="pvpowermax"></strong> <small>W</small></span>
                                    </h6>
                                </div>
                                <div class="line-info">
                                    <h6 class="card-title">
                                        <small class="float-left">Mínima</small>
                                        <span class="float-right font-weight-bold">
                                            <strong id="pvpowermin"></strong> <small>W</small></span>
                                    </h6>
                                </div>

                                <div class="line-info text-center"><h6>Tensão</h6></div>
                                <div class="line-info">
                                    <h6 class="card-title">
                                        <small class="float-left">Média</small>
                                        <span class="float-right font-weight-bold">
                                            <strong id="pvvoltageavg"></strong> <small>V</small></span>
                                    </h6>
                                </div>
                                <div class="line-info">
                                    <h6 class="card-title">
                                        <small class="float-left">Máxima</small>
                                        <span class="float-right font-weight-bold">
                                            <strong id="pvvoltagemax"></strong> <small>V</small></span>
                                    </h6>
                                </div>
                                <div class="line-info">
                                    <h6 class="card-title">
                                        <small class="float-left">Mínima</small>
                                        <span class="float-right font-weight-bold">
                                            <strong id="pvvoltagemin"></strong> <small>V</small></span>
                                    </h6>
                                </div>
                                <div class="line-info text-center"><h6>Corrente</h6></div>
                                <div class="line-info">
                                    <h6 class="card-title">
                                        <small class="float-left">Média</small>
                                        <span class="float-right font-weight-bold">
                                            <strong id="pvcurrentavg"></strong> <small>A</small></span>
                                    </h6>
                                </div>
                                <div class="line-info">
                                    <h6 class="card-title">
                                        <small class="float-left">Máxima</small>
                                        <span class="float-right font-weight-bold">
                                            <strong id="pvcurrentmax"></strong> <small>A</small></span>
                                    </h6>
                                </div>
                                <div class="line-info">
                                    <h6 class="card-title">
                                        <small class="float-left">Mínima</small>
                                        <span class="float-right font-weight-bold">
                                            <strong id="pvcurrentmin"></strong> <small>A</small></span>
                                    </h6>
                                </div>
                                 <div class="line-info">
                                    <h4 class="card-title">
                                        <small class="float-left">Total</small>
                                        <span class="float-right font-weight-bold">
                                            <strong id="pvcurrenttotal"></strong> <small>Ah</small></span>
                                    </h4>
                                </div>
                                <!--button type="button" class="btn btn-lg btn-block btn-outline-primary">Sign up for free</button-->
                            </div>
                        </div>
                    </div>
                    <div class=" col-info col-lg-4 mb-4 col-md-12">
                        <div class="card text-dark bg-light">
                            <div class="card-header">
                                <h6 class="font-weight-normal"><i class="fas fa-battery-full"></i> Bateria</h6>
                            </div>
                            <div class="card-body">

                                <div class="line-info text-center"><h6>Potência</h6></div>
                                <!--div class="line-info" style="background: #FFF">
                                  <canvas id="myChart" width="400" height="400"></canvas>
                                </div-->
                                <div class="line-info">
                                    <h6 class="card-title">
                                        <small class="float-left">Média</small>
                                        <span class="float-right font-weight-bold">
                                            <strong id="batterypoweravg"></strong> <small>W</small></span>
                                    </h6>
                                </div>
                                <div class="line-info">
                                    <h6 class="card-title">
                                        <small class="float-left">Máxima</small>
                                        <span class="float-right font-weight-bold">
                                            <strong id="batterypowermax"></strong> <small>W</small></span>
                                    </h6>
                                </div>
                                <div class="line-info">
                                    <h6 class="card-title">
                                        <small class="float-left">Mínima</small>
                                        <span class="float-right font-weight-bold">
                                            <strong id="batterypowermin"></strong> <small>W</small></span>
                                    </h6>
                                </div>
                                <div class="line-info text-center"><h6>Tensão</h6></div>
                                <div class="line-info">
                                    <h6 class="card-title">
                                        <small class="float-left">Média</small>
                                        <span class="float-right font-weight-bold">
                                            <strong id="batteryvoltageavg"></strong> <small>V</small></span>
                                    </h6>
                                </div>
                                <div class="line-info">
                                    <h6 class="card-title">
                                        <small class="float-left">Máxima</small>
                                        <span class="float-right font-weight-bold">
                                            <strong id="batteryvoltagemax"></strong> <small>V</small></span>
                                    </h6>
                                </div>
                                <div class="line-info">
                                    <h6 class="card-title">
                                        <small class="float-left">Mínima</small>
                                        <span class="float-right font-weight-bold">
                                            <strong id="batteryvoltagemin"></strong> <small>V</small></span>
                                    </h6>
                                </div>
                                <div class="line-info text-center"><h6>Corrente</h6></div>
                                <div class="line-info">
                                    <h6 class="card-title">
                                        <small class="float-left">Média</small>
                                        <span class="float-right font-weight-bold">
                                            <strong id="batterycurrentavg"></strong> <small>A</small></span>
                                    </h6>
                                </div>
                                <div class="line-info">
                                    <h6 class="card-title">
                                        <small class="float-left">Máxima</small>
                                        <span class="float-right font-weight-bold">
                                            <strong id="batterycurrentmax"></strong> <small>A</small></span>
                                    </h6>
                                </div>
                                <div class="line-info">
                                    <h6 class="card-title">
                                        <small class="float-left">Mínima</small>
                                        <span class="float-right font-weight-bold">
                                            <strong id="batterycurrentmin"></strong> <small>A</small></span>
                                    </h6>
                                </div>
                                <!--button type="button" class="btn btn-lg btn-block btn-primary">Get started</button-->
                            </div>
                        </div>
                    </div>
                    <div class=" col-info col-lg-4 mb-4 col-md-12">
                        <div class="card text-dark bg-light">
                            <div class="card-header">
                                <h6 class="font-weight-normal"><i class="fas fa-bolt"></i> Saída Load</h6>
                            </div>
                            <div class="card-body">

                                <div class="line-info text-center"><h6>Potência</h6></div>

                                <div class="line-info">
                                    <h6 class="card-title">
                                        <small class="float-left">Média</small>
                                        <span class="float-right font-weight-bold">
                                            <strong id="dischargingpoweravg"></strong> <small>W</small></span>
                                    </h6>
                                </div>
                                <div class="line-info">
                                    <h6 class="card-title">
                                        <small class="float-left">Máxima</small>
                                        <span class="float-right font-weight-bold">
                                            <strong id="dischargingpowermax"></strong> <small>W</small></span>
                                    </h6>
                                </div>
                                <div class="line-info">
                                    <h6 class="card-title">
                                        <small class="float-left">Mínima</small>
                                        <span class="float-right font-weight-bold">
                                            <strong id="dischargingpowermin"></strong> <small>W</small></span>
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--div class="card bg-light mb-3">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal"><i class="fas fa-mobile"></i> Tracer 4210A</h4>
        </div>
        <div class="card-body">
            <div class="line-info">
                <h4 class="card-title">
                    <small class="float-left">Tensão</small>
                    <span class="float-right font-weight-bold">28.85 <small>V</small></span>
                </h4>
            </div>
            <div class="line-info">
                <h4 class="card-title">
                    <small class="float-left">Corrente</small>
                    <span class="float-right font-weight-bold">0.05 <small>A</small></span>
                </h4>
            </div>
            <div class="line-info">
                <h4 class="card-title">
                    <small class="float-left">Potência</small>
                    <span class="float-right font-weight-bold">10.50 <small>W</small></span>
                </h4>
            </div>
            <button type="button" class="btn btn-lg btn-block btn-outline-primary">Sign up for free</button>
        </div>
    </div-->


</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='js/gauge.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/Chart.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/home.js') }}"></script>
{% endblock %}