{% extends "layout.html" %}

{% block content %}

{{url_context}}
{{ip}}
{{url}}
<script>
    var url_context = '{{url}}'
</script>

<div class="card-deck">
    <div class="card text-white bg-secondary">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal"><i class="fas fa-mobile"></i> Tracer 4210A
                <small id="rtc" class="float-right"><i class="far fa-clock"></i></small>
            </h4>
        </div>
        <div class="card-footer">
            <div class="card-deck">
                <div class="row mb-3">
                    <div class="col-lg-4 mb-4 col-md-12 col-info">
                        <div id="ctn_pv" class="card text-dark">
                            <div class="card-header">
                                <h4 class="my-0"><i id="pvicon"class="fas fa-moon"></i> Painel</h4>
                            </div>
                            <div class="card-body">
                                <div class="line-info">
                                    <h4 class="card-title">
                                        <small class="float-left">Tensão</small>
                                        <span class="float-right">
                                            <strong id="pvvoltage"></strong> <small>V</small></span>
                                    </h4>
                                </div>
                                <div class="line-info">
                                    <h4 class="card-title">
                                        <small class="float-left">Corrente</small>
                                        <span class="float-right font-weight-bold">
                                            <strong id="pvcurrent"></strong> <small>A</small></span>
                                    </h4>
                                </div>
                                <div class="line-info">
                                    <h4 class="card-title">
                                        <small class="float-left">Potência</small>
                                        <span class="float-right font-weight-bold">
                                            <strong id="pvpower"></strong> <small>W</small></span>
                                    </h4>
                                </div>
                                <div class="line-info"><br></div>
                                <div class="line-info">
                                    <h4 class="card-title">
                                        <small class="float-left">Enêrgia Gerada</small>
                                        <span class="float-right font-weight-bold">
                                            <strong id="generatedenergy"></strong> <small>kWh</small></span>
                                    </h4>
                                </div>

                                <div class="line-info">
                                    <h4 class="card-title">
                                        <small class="float-left">Produção</small>
                                        <span class="float-right font-weight-bold">
                                            <small id="generatedend"></small></span>
                                    </h4>
                                </div>

                                <div class="line-info text-center"><h6>Potência</h6></div>
                                <!--div class="line-info" style="background: #FFF">
                                  <canvas id="myChart" width="400" height="400"></canvas>
                                </div-->
                                <div class="line-info">
                                    <h6 class="card-title">
                                        <small class="float-left">Média</small>
                                        <span class="float-right font-weight-bold">
                                            <strong id="pvpoweravg"></strong> <small>W</small></span>
                                    </h6>
                                </div>
                                <div class="line-info">
                                    <h6 class="card-title">
                                        <small class="float-left">Máxima</small>
                                        <span class="float-right font-weight-bold">
                                            <strong id="pvpowermax"></strong> <small>W</small></span>
                                    </h6>
                                </div>
                                <div class="line-info">
                                    <h6 class="card-title">
                                        <small class="float-left">Mínima</small>
                                        <span class="float-right font-weight-bold">
                                            <strong id="pvpowermin"></strong> <small>W</small></span>
                                    </h6>
                                </div>
                                <div class="line-info">
                                    <h4 class="card-title">
                                        <small class="float-left">Total</small>
                                        <span class="float-right font-weight-bold">
                                            <strong id="pvpowertotal"></strong> <small>Wh</small></span>
                                    </h4>
                                </div>
                                <div class="line-info text-center"><h6>Tensão</h6></div>
                                <div class="line-info">
                                    <h6 class="card-title">
                                        <small class="float-left">Média</small>
                                        <span class="float-right font-weight-bold">
                                            <strong id="pvvoltageavg"></strong> <small>V</small></span>
                                    </h6>
                                </div>
                                <div class="line-info">
                                    <h6 class="card-title">
                                        <small class="float-left">Máxima</small>
                                        <span class="float-right font-weight-bold">
                                            <strong id="pvvoltagemax"></strong> <small>V</small></span>
                                    </h6>
                                </div>
                                <div class="line-info">
                                    <h6 class="card-title">
                                        <small class="float-left">Mínima</small>
                                        <span class="float-right font-weight-bold">
                                            <strong id="pvvoltagemin"></strong> <small>V</small></span>
                                    </h6>
                                </div>
                                <div class="line-info text-center"><h6>Corrente</h6></div>
                                <div class="line-info">
                                    <h6 class="card-title">
                                        <small class="float-left">Média</small>
                                        <span class="float-right font-weight-bold">
                                            <strong id="pvcurrentavg"></strong> <small>A</small></span>
                                    </h6>
                                </div>
                                <div class="line-info">
                                    <h6 class="card-title">
                                        <small class="float-left">Máxima</small>
                                        <span class="float-right font-weight-bold">
                                            <strong id="pvcurrentmax"></strong> <small>A</small></span>
                                    </h6>
                                </div>
                                <div class="line-info">
                                    <h6 class="card-title">
                                        <small class="float-left">Mínima</small>
                                        <span class="float-right font-weight-bold">
                                            <strong id="pvcurrentmin"></strong> <small>A</small></span>
                                    </h6>
                                </div>
                                 <div class="line-info">
                                    <h4 class="card-title">
                                        <small class="float-left">Total</small>
                                        <span class="float-right font-weight-bold">
                                            <strong id="pvcurrenttotal"></strong> <small>Ah</small></span>
                                    </h4>
                                </div>
                                <!--button type="button" class="btn btn-lg btn-block btn-outline-primary">Sign up for free</button-->
                            </div>
                        </div>
                    </div>
                    <div class=" col-info col-lg-4 mb-4 col-md-12">
                        <div class="card text-white bg-dark">
                            <div class="card-header">
                                <h4 class="my-0 font-weight-normal"><i class="fas fa-battery-full"></i> Bateria</h4>
                            </div>
                            <div class="card-body">
                                <div class="line-info">
                                    <h4 class="card-title">
                                        <small class="float-left">Tensão</small>
                                        <span class="float-right font-weight-bold">
                                            <strong id="batteryvoltage"></strong> <small>V</small></span>
                                    </h4>
                                </div>
                                <div class="line-info">
                                    <h4 class="card-title">
                                        <small class="float-left">Corrente</small>
                                        <span class="float-right font-weight-bold">
                                            <strong id="batterycurrent"></strong> <small>A</small></span>
                                    </h4>
                                </div>
                                <div class="line-info">
                                    <h4 class="card-title">
                                        <small class="float-left">Potência</small>
                                        <span class="float-right font-weight-bold">
                                            <strong id="batterypower"></strong> <small>W</small></span>
                                    </h4>
                                </div>

                                <div class="line-info"><br></div>
                                <div class="line-info">
                                    <h4 class="card-title">
                                        <small class="float-left">SOC</small>
                                        <div class="progress float-right" style="width: 50%;">
                                            <div id="batterysoc" class="progress-bar bg-success progress-bar-striped"
                                                 role="progressbar" style="width: 0%"><strong id="batterysocvalue"></strong>                                  </div>
                                        </div>
                                    </h4>
                                </div>
                                <div class="line-info">
                                    <h4 class="card-title">
                                        <small class="float-left">Status</small>
                                        <span class="float-right font-weight-bold">
                                            <small id="batterystatus"></small></span>
                                    </h4>
                                </div>
                                <div class="line-info">
                                    <h4 class="card-title">
                                        <small class="float-left">Carga</small>
                                        <span class="float-right font-weight-bold">
                                            <small id="batterycharge"></small></span>
                                    </h4>
                                </div>

                                <div class="line-info"><br></div>
                                <div class="line-info">
                                    <h4 class="card-title">
                                        <small class="float-left">Temperatura</small>
                                        <span class="float-right font-weight-bold">
                                            <strong id="batterytemperature"></strong> <small>ºC</small></span>
                                    </h4>
                                </div>
                                <div class="line-info">
                                    <h4 class="card-title">
                                        <small class="float-left">Remota</small>
                                        <span class="float-right font-weight-bold">
                                            <strong id="batterytemperatureremote"></strong> <small>ºC</small></span>
                                    </h4>
                                </div>
                                <div class="line-info"><br></div>
                                <div class="line-info text-center"><h6>Tensão</h6></div>
                                <div class="line-info">
                                    <h6 class="card-title">
                                        <small class="float-left">Máxima</small>
                                        <span class="float-right font-weight-bold">
                                            <strong id="batteryvoltagemax"></strong> <small>V</small></span>
                                    </h6>
                                </div>
                                <div class="line-info">
                                    <h6 class="card-title">
                                        <small class="float-left">Mínima</small>
                                        <span class="float-right font-weight-bold">
                                            <strong id="batteryvoltagemin"></strong> <small>V</small></span>
                                    </h6>
                                </div>
                                <!--button type="button" class="btn btn-lg btn-block btn-primary">Get started</button-->
                            </div>
                        </div>
                    </div>
                    <div class=" col-info col-lg-4 mb-4 col-md-12">
                        <div class="card text-white bg-primary">
                            <div class="card-header">
                                <h4 class="my-0 font-weight-normal"><i class="fas fa-bolt"></i> Inversor</h4>
                            </div>
                            <div class="card-body">
                                <div class="line-info">
                                    <h4 class="card-title">
                                        <small class="float-left">Tensão</small>
                                        <span class="float-right font-weight-bold">
                                            <strong id="dischargingvoltage"></strong> <small>V</small></span>
                                    </h4>
                                </div>
                                <div class="line-info">
                                    <h4 class="card-title">
                                        <small class="float-left">Corrente</small>
                                        <span class="float-right font-weight-bold">
                                            <strong id="dischargingcurrent"></strong> <small>A</small></span>
                                    </h4>
                                </div>
                                <div class="line-info">
                                    <h4 class="card-title">
                                        <small class="float-left">Potência</small>
                                        <span class="float-right font-weight-bold">
                                            <strong id="dischargingpower"></strong> <small>W</small></span>
                                    </h4>
                                </div>
                                <div class="line-info"><br></div>
                                <div class="line-info"><br></div>
                                <div class="line-info">
                                    <h4 class="card-title">
                                        <small class="float-left">Enêrgia Consumida</small>
                                        <span class="float-right font-weight-bold">
                                            <strong id="consumedenergy"></strong> <small>kWh</small></span>
                                    </h4>
                                </div>
                                <!--button type="button" class="btn btn-lg btn-block btn-primary">Contact us</button-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="line-info">
                <h4 class="card-title">
                    <small class="float-left">Tensão Sistema</small>
                    <span class="float-right font-weight-bold">
                        <strong id="systemvoltage"></strong> <small>V</small></span>
                </h4>
            </div>
            <div class="line-info">
                <h4 class="card-title">
                    <small class="float-left">Temperatura</small>
                    <span class="float-right font-weight-bold">
                        <strong id="temperatureinsideequipment"></strong> <small>ºC</small></span>
                </h4>
            </div>
            <div class="line-info">
                <h4 class="card-title">
                    <small class="float-left">Temperatura Componentes</small>
                    <span class="float-right font-weight-bold">
                        <strong id="temperaturepowercomponents"></strong> <small>ºC</small></span>
                </h4>
            </div>
            <div class="line-info">
                <h4 class="card-title">
                    <small class="float-left">Saída (Load)</small>
                    <span class="float-right font-weight-bold">
                        <small id="statusdischarging"></small></span>
                </h4>
            </div>
            <!--button type="button" class="btn btn-lg btn-block btn-outline-primary">Sign up for free</button-->
        </div>
    </div>
    <!--div class="card bg-light mb-3">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal"><i class="fas fa-mobile"></i> Tracer 4210A</h4>
        </div>
        <div class="card-body">
            <div class="line-info">
                <h4 class="card-title">
                    <small class="float-left">Tensão</small>
                    <span class="float-right font-weight-bold">28.85 <small>V</small></span>
                </h4>
            </div>
            <div class="line-info">
                <h4 class="card-title">
                    <small class="float-left">Corrente</small>
                    <span class="float-right font-weight-bold">0.05 <small>A</small></span>
                </h4>
            </div>
            <div class="line-info">
                <h4 class="card-title">
                    <small class="float-left">Potência</small>
                    <span class="float-right font-weight-bold">10.50 <small>W</small></span>
                </h4>
            </div>
            <button type="button" class="btn btn-lg btn-block btn-outline-primary">Sign up for free</button>
        </div>
    </div-->


</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='js/Chart.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/home.js') }}"></script>
{% endblock %}