{% extends "layout.html" %}

{% block content %}
<form action="" method="post">
    <h6>Battery</h6>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <small>Capacity (Ah)</small>
                <input type="text" class="form-control" value="{{ battery_capacity }}">
            </div>
            <div class="form-group">
                <small>Type</small>
                <select class="form-control">
                    {% for value in battery_type %}
                    <option value="{{ value }}" {% if value == battery_type_value %} selected {% endif %}>{{ value }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <small>Charging %</small>
                <input type="text" class="form-control" value="{{ charging_percentage }}">
            </div>
            <div class="form-group">
                <small>Equalize Duration (Minute)</small>
                <input type="text" class="form-control" value="{{ equalize_duration }}">
            </div>
            <div class="form-group">
                <small>Equalization Charging Cycle</small>
                <input type="text" class="form-control" value="{{ equalization_charging_cycle }}">
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <small>Rated Voltage</small>
                <select class="form-control">
                    {% for value in battery_rated_voltage %}
                    <option value="{{ value }}" {% if value == battery_rated_voltage_value %} selected {% endif %}>{{ value }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <small>Management Mode</small>
                <select class="form-control">
                    {% for value in management_mode_battery %}
                    <option value="{{ value }}" {% if value == management_mode_battery_value %} selected {% endif %}>{{ value }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <small>Discharging %</small>
                <input type="text" class="form-control" value="{{ discharging_percentage }}">
            </div>
            <div class="form-group">
                <small>Boost Duration (Minute)</small>
                <input type="text" class="form-control" value="{{ boost_duration }}">
            </div>
            <div class="form-group">
                <small>Temperature Compensation Coefficient</small>
                <input type="text" class="form-control" value="{{ temperature_compensation_coefficient }}">
            </div>
        </div>
    </div>
    <br/>
    <h6>Voltage</h6>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <small>High Disconnect</small>
                <input type="text" class="form-control" value="{{ high_voltage_disconnect }}">
            </div>

            <div class="form-group">
                <small>High Reconnect</small>
                <input type="text" class="form-control" value="{{ high_voltage_reconnect }}">
            </div>

            <div class="form-group">
                <small>Under Warning</small>
                <input type="text" class="form-control" value="{{ under_voltage_warning }}">
            </div>

            <div class="form-group">
                <small>Equalization</small>
                <input type="text" class="form-control" value="{{ equalization_voltage }}">
            </div>

            <div class="form-group">
                <small>Boost</small>
                <input type="text" class="form-control" value="{{ boost_voltage }}">
            </div>

            <div class="form-group">
                <small>Float</small>
                <input type="text" class="form-control" value="{{ float_voltage }}">
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <small>Low Disconnect</small>
                <input type="text" class="form-control" value="{{ low_voltage_disconnect }}">
            </div>

            <div class="form-group">
                <small>Low Reconnect</small>
                <input type="text" class="form-control" value="{{ low_voltage_reconnect }}">
            </div>

            <div class="form-group">
                <small>Under Recover</small>
                <input type="text" class="form-control" value="{{ under_voltage_recover }}">
            </div>

            <div class="form-group">
                <small>Boost Reconnect</small>
                <input type="text" class="form-control" value="{{ boost_reconnect_voltage }}">
            </div>

            <div class="form-group">
                <small>Charging Limit</small>
                <input type="text" class="form-control" value="{{ charging_limit_voltage }}">
            </div>

            <div class="form-group">
                <small>Discharging Limit</small>
                <input type="text" class="form-control" value="{{ discharging_limit_voltage }}">
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </div>

</form>
{% endblock %}

{% block scripts %}
<!--script type="text/javascript" src="{{ url_for('static', filename='js/gauge.min.js') }}"></script-->
{% endblock %}